<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://use.fontawesome.com/cfef5455c5.js"></script>
</head>
<body>
<h1 style="text-align: center">Bienvenue sur la page de connexion.</h1>
<h3 style="text-align: center">Veuillez saisir votre adresse mail et mot de passe afin de vous connecter.</h3>
<br/>
<br/>
<br/>
<div style="width: 20%; margin: auto; border: 2px solid black; border-radius: 5px; padding: 15px;">
    <form method="get" action="/download">

        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input name="mail" id="mail" class="form-control" type="text" placeholder="Email address">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input name="password" id="password" class="form-control" type="password" placeholder="Password">
        </div>
        <br/>

        <input type="submit" value="Envoyer"/>
    </form>
</div>

</body>
</html>