<!DOCTYPE html>
<html>
<head>
    <title>Evaluation du personnel</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="jumbotron bg-dark text-white text-center ">

    <div class="thumbnail">
        <img class="float-left" src='/static/asip_image.jpg' alt='Logo ASIP' width="150" height="100">
    </div>
        <h1>Agence des systèmes d'information partagés de santé</h1>
    <h3> Editions de fiches d'évaluations du personnel</h3>
</div>
<div class="container-fluid text-center">
            <div class="card m-auto w-50 border-dark">
                <div class="card-header bg-primary text-white"><h5>Veuillez sélectionner le collaborateur dont vous souhaitez faire l'évaluation</h5></div>
                <div class="card-body"> <!--center-block text-center-->
                    <select name='role' class="mb-3">
                        {% for row in value %}
                        <option value={{row[2]}}>{{row[0]}} : {{row[1]}} - {{row[2]}}</option>
                        {% endfor %}
                    </select><br />
                    <div>
                        <button type="button" class="btn btn-primary btn-md active">
                            Sélectionner
                        </button>
                    </div>
                </div>
            </div>
        <a href='/generate_fiche'>Génération de fiches</a>
</div>
</body>
</html>